.Wrapper{
    display: flex;
    width:auto;
    height:auto;
}


.LeftContainer{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #f8f9fa!important;
}

.RightContainer{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}