.navbar{
    background-color: #343a40!important;
    color: azure;
    display: flex;
}

.navbarText{
    flex-direction: column;
    justify-content: flex-start;
    margin:auto;
    font-size: 25px;
}